body {
    font-family: sans-serif;
}

.listas-propiedades {
    padding: 10px;
    border-radius: 10px;
}

.azul {
    color: #48e;
    background-color: #9dc3f2;
}

.amarillo {
    color: #2c2c1b;
    background-color: #e4df4d;
}

.azulCeleste {
    color: #123d3f;
    background-color: #40d3db;
}

.verde {
    color: #123f13;
    background-color: #41da43;
}

.lila {
    color: #371f34;
    background-color: #95558d;
}

.rojo {
    color: #3f1a12;
    background-color: #c27d6e;
}

.titulo {
    margin: 0;
}

.containerMain {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.contenidoMain {
    border: 1px solid #aaa;
    padding: 20px;
    border-radius: 10px;
}

.imagenes {
    width: 100%;
}

.flex-propiedades {
    flex: 1 1 300px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.padding-laterales {
    padding-inline: 20px;
}

.tecnolgias-rectangulo-main {
    display: flex;
    gap: 20px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.quitarPunto {
    list-style: none;
}

.contenidoAbajo {
    display: flex;
    gap: 10px;
    padding: 5px;
}